<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/_header.css" />
    <link rel="shortcut icon" href="../public/img/blogging.png" type="image/png">

</head>
<body>
    
    <section class = "nav-bar">
        <ul>
            <li class = 'new-note'><button > <a href="/newblog" >&#x2b; Write a Blog</a></button></li>
           
            <span class = 'company-name'>
                <li><img src="../public/img/blogging.png"> </li>
                <li><h2> <a href="/blogs">Blogger</a></h2></li>
            </span>
            <a class = 'user-profile' href="/profile/me">
            <li class = 'user-profile'>
                <img src="../public/img/images.png">
            </li>
            </a>
        </ul>
    </section>    



</body>
</html>